body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 255, 13);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.wrap{
    padding: 16px;
}
.panel{
    width: 400px;
    height: 400px;
    background: lightgray;

    border-width: 10px;
    border-style: solid;
    border-color: rgb(150, 113, 11);

    display: grid;
    place-items: center;
    margin: 16px;
}
.weird{
width: 200px;
height: 150px;
background-color: rgb(240, 68, 188);
border: 5px;

border-left-style: dashed;
border-top-style: dotted;
border-right-style: solid;
border-bottom-style: double;

border-right-color: rgb(180, 12, 12);
margin-bottom: 16px;
}
.card{
    width: 200px;
    height: 200px;
    background: rgb(112, 0, 240);
    border: 10px solid yellow;

    display: grid;
    place-items: center;
    
}