body{
background-color: rgb(243, 224, 139);
font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(138, 82, 8);
    text-align: center;
}

p{
color: rgb(70, 43, 13);
font-size: 18px;
}
div{
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
    margin: 20PX;
}
.info{
    color: rgb(100, 90, 45);
}
 #warning{
    color: crimson;
 }
 p:last-child{
    color: rgb(0, 0, 0);
 }
