body{
    background-image: url(./assets/petr_pavel-600x600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll
  }
  .scroll-block{
    background: rgba(255,255,255,0.5);
    width: 30%;
    border-radius: 12px;
    text-align: center;
  }
  h1{
    background: pink;
    width: 50%;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
  }
  .alpha, .opacity{
padding: 16px;
margin: 12px;
border: 2px solid white;
border-radius: 12px;
max-width: 720px;
  }
  .alpha{
    background-color: rgba(255,255,255, .5);
  }
  .opacity {
    background-color: white;
    opacity: 0.5;
  }
  .g{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
  }
.linear{
  background-image: linear-gradient(to right, rgb(185, 213, 223),rgb(37, 108, 214));
}
.radial{
  background-image: radial-gradient(rgb(17, 78, 209) 20%, rgb(185, 213, 223));
}
