.example-1{
    width: 400px;
    height: 400px;
    background-color: rgb(27, 66, 138);
    color: white;
display: grid;
place-items: center;


}
body{
    background-color: rgb(121, 121, 228);
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrap{
    padding: 16px;
}
.parent{
width: 50%;
height: 200px;
background-color: rgb(102, 122, 163);
}
.child{
width: 150px;
height: 100%;
background-color: rgb(144, 144, 182);
}